*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h3{
    color: #b92b27;
}

#login{
    background-color: wheat;
}

#signup{
    background-color: #b92b27;
    color: white;
}

h1{
    letter-spacing: 10px;
}

.upvote{
    background-color: aquamarine;
}

/* descendant selector */

.post a{
    color: deepskyblue;
    background-color: lightgoldenrodyellow;
}

nav ul li a{
    color: deeppink;
}

p+h3{
    text-decoration: underline;

}

.upvote + button{
    background-color: deepskyblue;

}

div>input{
    background-color: rgb(198, 198, 162);
}

input[type="text"]{
    color: darkcyan;
}
input[type="password"]{
    color: darkmagenta;
}

input[type]{
    background-color: rgb(155, 167, 189);
}

button:hover{
    color:darkslateblue;
    background-color: white;
}

button:active{
    background-color: cornflowerblue;
    color: aquamarine;
}

p:active{
    font-weight: bold;
    color: darkorchid;
}

input[type="radio"]:checked+label{
    color: #b92b27;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color:rgb(136, 207, 136);
}

h1::first-letter{
    color: black;
}

#myId{
    color:darkorange;
}

p::first-line{
    color: blueviolet;
}

p::selection{
    color: bisque;
    background-color: rgb(183, 114, 117);
}

h3{
    background-color: lightcoral;
}

h3{
    background-color: lightskyblue;
}